<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true">
  <testsuites>
    <testsuite name="7-kyu-Odd-or-Even">
        <file>7-kyu/Odd or Even/src/oddOrEven.php</file>
        <directory>7-kyu/Odd or Even/test</directory>
    </testsuite>
    <testsuite name="6-kyu-Multiples-of-3-or-5">
        <file>6-kyu/Multiples of 3 or 5/src/multiplesOf3or5.php</file>
        <directory>6-kyu/Multiples of 3 or 5/test</directory>
    </testsuite>
    <testsuite name="6-kyu-Roman-Numerals-Decoder">
        <file>6-kyu/Roman Numerals Decoder/src/romanDecoder.php</file>
        <directory>6-kyu/Roman Numerals Decoder/test</directory>
    </testsuite>
    <testsuite name="6-kyu-Find-the-odd-int">
        <file>6-kyu/Find the odd int/src/findTheOddInt.php</file>
        <directory>6-kyu/Find the odd int/test</directory>
    </testsuite>
  </testsuites>
</phpunit>